In [91]:
import time
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd

In [92]:
# Forbes Business of Basketball website
url = "https://www.forbes.com/nba-valuations/list/#header:position"

In [94]:
# Specify the path to the ChromeDriver executable
chromedriver_path = "/opt/homebrew/bin/chromedriver"  

# Kept getting a deprecation error, so had to create a Service object
service = Service(chromedriver_path)

In [95]:
# Initialize the WebDriver
driver = webdriver.Chrome(service=service)

In [96]:
# Open the URL
driver.get(url)

In [97]:
# Had to let content filled in by JavaScript load so this made the program sleep 
time.sleep(45)

In [98]:
# At first the DataFrame only showed the first 10 results. Had to put in code that would "scroll" down the page to scrape the rest of the content
for _ in range(3):  
    driver.find_element(By.TAG_NAME, "body").send_keys(Keys.PAGE_DOWN)
    time.sleep(5)

In [99]:
# Stored the page source in a variable after the JavaScript loaded the table
page_source = driver.page_source

In [100]:
# Parsed the HTML content from the page source
soup = BeautifulSoup(page_source, "html.parser")

In [101]:
# Reading the table into a DataFrame
forbeslist = pd.read_html(str(soup))

In [102]:
# Printing the DataFrame 
if forbeslist:
    for i, df in enumerate(forbeslist):
        print("Table", i + 1)
        print(df)
else:
    print("No tables found")


# Close the WebDriver
driver.quit()

Table 1
    Unnamed: 0 Rank                    Team  \
0          NaN   #1   Golden State Warriors
1          NaN   #2         New York Knicks
2          NaN   #3      Los Angeles Lakers
3          NaN   #4           Chicago Bulls
4          NaN   #5          Boston Celtics
5          NaN   #6    Los Angeles Clippers
6          NaN   #7           Brooklyn Nets
7          NaN   #8        Dallas Mavericks
8          NaN   #9         Houston Rockets
9          NaN  #10      Philadelphia 76ers
10         NaN  NaN                     NaN
11         NaN  #11         Toronto Raptors
12         NaN  #12              Miami Heat
13         NaN  #13            Phoenix Suns
14         NaN  #14      Washington Wizards
15         NaN  #15         Milwaukee Bucks
16         NaN  #16  Portland Trail Blazers
17         NaN  #17     Cleveland Cavaliers
18         NaN  #18        Sacramento Kings
19         NaN  #19               Utah Jazz
20         NaN  #20       San Antonio Spurs
21         NaN  NaN                     NaN
22         NaN  #21           Atlanta Hawks
23         NaN  #22          Denver Nuggets
24         NaN  #23         Detroit Pistons
25         NaN  #24   Oklahoma City Thunder
26         NaN  #25           Orlando Magic
27         NaN  #26          Indiana Pacers
28         NaN  #27       Charlotte Hornets
29         NaN  #28  Minnesota Timberwolves
30         NaN  #29       Memphis Grizzlies
31         NaN  #30    New Orleans Pelicans

   Current ValueValue of team based on current arena deal (unless new arena is pending), without deduction for debt (other than arena debt).  \
0                                                $7 B
1                                              $6.1 B
2                                              $5.9 B
3                                              $4.1 B
4                                                $4 B
5                                              $3.9 B
6                                              $3.5 B
7                                              $3.3 B
8                                              $3.2 B
9                                             $3.15 B
10                                                NaN
11                                             $3.1 B
12                                               $3 B
13                                             $2.7 B
14                                             $2.5 B
15                                             $2.3 B
16                                             $2.1 B
17                                            $2.05 B
18                                            $2.03 B
19                                           $2.025 B
20                                               $2 B
21                                                NaN
22                                           $1.975 B
23                                            $1.93 B
24                                             $1.9 B
25                                           $1.875 B
26                                            $1.85 B
27                                             $1.8 B
28                                             $1.7 B
29                                            $1.67 B
30                                            $1.65 B
31                                             $1.6 B

   1-Yr Value Change Debt/ValueIncludes arena debt. Revenue  \
0                25%                            16%  $765 M
1                 5%                             4%  $452 M
2                 7%                             1%  $465 M
3                12%                             4%  $352 M
4                13%                             5%  $361 M
5                18%                             2%  $362 M
6                 9%                             8%  $405 M
7                22%                             3%  $364 M
8                16%                             6%  $350 M
9                29%                             4%  $345 M
10               NaN                            NaN     NaN
11               25%                             6%  $299 M
12               30%                            14%  $326 M
13               50%                             9%  $302 M
14               30%                             7%  $291 M
15               21%                            14%  $352 M
16                2%                             9%  $291 M
17               24%                            11%  $325 M
18                1%                            28%  $279 M
19               16%                            15%  $308 M
20                1%                             9%  $306 M
21               NaN                            NaN     NaN
22               18%                            13%  $282 M
23               12%                            15%  $273 M
24               20%                            11%  $278 M
25               15%                            10%  $274 M
26               13%                            11%  $272 M
27                8%                            14%  $264 M
28                8%                            12%  $269 M
29                8%                            14%  $271 M
30               10%                            22%  $272 M
31                5%                            14%  $268 M

   Operating IncomeEarnings before interest, taxes, depreciation and amortization.
0                                              $206 M
1                                              $155 M
2                                              $115 M
3                                              $135 M
4                                              $137 M
5                                               $12 M
6                                              $-34 M
7                                              $143 M
8                                              $113 M
9                                               $87 M
10                                                NaN
11                                              $86 M
12                                              $83 M
13                                              $87 M
14                                              $90 M
15                                              $51 M
16                                              $81 M
17                                              $74 M
18                                              $29 M
19                                              $58 M
20                                              $99 M
21                                                NaN
22                                              $84 M
23                                              $67 M
24                                              $92 M
25                                             $129 M
26                                              $98 M
27                                              $65 M
28                                              $94 M
29                                              $87 M
30                                             $107 M
31                                              $94 M

In [103]:
type(forbeslist)

list

In [104]:
df = forbeslist[0]
df.head(200)

,Unnamed: 0,Rank,Team,"Current ValueValue of team based on current arena deal (unless new arena is pending), without deduction for debt (other than arena debt).",1-Yr Value Change,Debt/ValueIncludes arena debt.,Revenue,"Operating IncomeEarnings before interest, taxes, depreciation and amortization."
0,NaN,#1,Golden State Warriors,$7 B,25%,16%,$765 M,$206 M
1,NaN,#2,New York Knicks,$6.1 B,5%,4%,$452 M,$155 M
2,NaN,#3,Los Angeles Lakers,$5.9 B,7%,1%,$465 M,$115 M
3,NaN,#4,Chicago Bulls,$4.1 B,12%,4%,$352 M,$135 M
4,NaN,#5,Boston Celtics,$4 B,13%,5%,$361 M,$137 M
5,NaN,#6,Los Angeles Clippers,$3.9 B,18%,2%,$362 M,$12 M
6,NaN,#7,Brooklyn Nets,$3.5 B,9%,8%,$405 M,$-34 M
7,NaN,#8,Dallas Mavericks,$3.3 B,22%,3%,$364 M,$143 M
8,NaN,#9,Houston Rockets,$3.2 B,16%,6%,$350 M,$113 M
9,NaN,#10,Philadelphia 76ers,$3.15 B,29%,4%,$345 M,$87 M
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,#11,Toronto Raptors,$3.1 B,25%,6%,$299 M,$86 M
12,NaN,#12,Miami Heat,$3 B,30%,14%,$326 M,$83 M
13,NaN,#13,Phoenix Suns,$2.7 B,50%,9%,$302 M,$87 M
14,NaN,#14,Washington Wizards,$2.5 B,30%,7%,$291 M,$90 M
15,NaN,#15,Milwaukee Bucks,$2.3 B,21%,14%,$352 M,$51 M
16,NaN,#16,Portland Trail Blazers,$2.1 B,2%,9%,$291 M,$81 M
17,NaN,#17,Cleveland Cavaliers,$2.05 B,24%,11%,$325 M,$74 M
18,NaN,#18,Sacramento Kings,$2.03 B,1%,28%,$279 M,$29 M
19,NaN,#19,Utah Jazz,$2.025 B,16%,15%,$308 M,$58 M
20,NaN,#20,San Antonio Spurs,$2 B,1%,9%,$306 M,$99 M
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,#21,Atlanta Hawks,$1.975 B,18%,13%,$282 M,$84 M
23,NaN,#22,Denver Nuggets,$1.93 B,12%,15%,$273 M,$67 M
24,NaN,#23,Detroit Pistons,$1.9 B,20%,11%,$278 M,$92 M
25,NaN,#24,Oklahoma City Thunder,$1.875 B,15%,10%,$274 M,$129 M
26,NaN,#25,Orlando Magic,$1.85 B,13%,11%,$272 M,$98 M
27,NaN,#26,Indiana Pacers,$1.8 B,8%,14%,$264 M,$65 M
28,NaN,#27,Charlotte Hornets,$1.7 B,8%,12%,$269 M,$94 M
29,NaN,#28,Minnesota Timberwolves,$1.67 B,8%,14%,$271 M,$87 M
30,NaN,#29,Memphis Grizzlies,$1.65 B,10%,22%,$272 M,$107 M
31,NaN,#30,New Orleans Pelicans,$1.6 B,5%,14%,$268 M,$94 M

In [105]:
forbes_df = forbeslist[0]

In [106]:
#Cleaning the Forbes DataFrame

#Current Value= Value of team based on current arena deal (unless new arena is pending), without deduction for debt (other than arena debt).

#Debt/Value= Includes arena debt

#Operating Income= Earnings before interest, taxes, depreciation and amortization.

In [107]:
#Dropping unneeded rows and columns
df.drop(10, axis=0, inplace=True)
df.drop(21, axis=0, inplace=True)


df.drop('Unnamed: 0', axis=1, inplace=True)

In [108]:
# Renaming columns
forbes_df.columns=['Value Ranking', 'Team', 'Current Value (Billions)', '1-Yr Value Change','Debt/Value', 'Revenue (Millions)', 'Operating Income (Millions)']

In [109]:
forbes_df
df.head(200)

,Value Ranking,Team,Current Value (Billions),1-Yr Value Change,Debt/Value,Revenue (Millions),Operating Income (Millions)
0,#1,Golden State Warriors,$7 B,25%,16%,$765 M,$206 M
1,#2,New York Knicks,$6.1 B,5%,4%,$452 M,$155 M
2,#3,Los Angeles Lakers,$5.9 B,7%,1%,$465 M,$115 M
3,#4,Chicago Bulls,$4.1 B,12%,4%,$352 M,$135 M
4,#5,Boston Celtics,$4 B,13%,5%,$361 M,$137 M
5,#6,Los Angeles Clippers,$3.9 B,18%,2%,$362 M,$12 M
6,#7,Brooklyn Nets,$3.5 B,9%,8%,$405 M,$-34 M
7,#8,Dallas Mavericks,$3.3 B,22%,3%,$364 M,$143 M
8,#9,Houston Rockets,$3.2 B,16%,6%,$350 M,$113 M
9,#10,Philadelphia 76ers,$3.15 B,29%,4%,$345 M,$87 M
11,#11,Toronto Raptors,$3.1 B,25%,6%,$299 M,$86 M
12,#12,Miami Heat,$3 B,30%,14%,$326 M,$83 M
13,#13,Phoenix Suns,$2.7 B,50%,9%,$302 M,$87 M
14,#14,Washington Wizards,$2.5 B,30%,7%,$291 M,$90 M
15,#15,Milwaukee Bucks,$2.3 B,21%,14%,$352 M,$51 M
16,#16,Portland Trail Blazers,$2.1 B,2%,9%,$291 M,$81 M
17,#17,Cleveland Cavaliers,$2.05 B,24%,11%,$325 M,$74 M
18,#18,Sacramento Kings,$2.03 B,1%,28%,$279 M,$29 M
19,#19,Utah Jazz,$2.025 B,16%,15%,$308 M,$58 M
20,#20,San Antonio Spurs,$2 B,1%,9%,$306 M,$99 M
22,#21,Atlanta Hawks,$1.975 B,18%,13%,$282 M,$84 M
23,#22,Denver Nuggets,$1.93 B,12%,15%,$273 M,$67 M
24,#23,Detroit Pistons,$1.9 B,20%,11%,$278 M,$92 M
25,#24,Oklahoma City Thunder,$1.875 B,15%,10%,$274 M,$129 M
26,#25,Orlando Magic,$1.85 B,13%,11%,$272 M,$98 M
27,#26,Indiana Pacers,$1.8 B,8%,14%,$264 M,$65 M
28,#27,Charlotte Hornets,$1.7 B,8%,12%,$269 M,$94 M
29,#28,Minnesota Timberwolves,$1.67 B,8%,14%,$271 M,$87 M
30,#29,Memphis Grizzlies,$1.65 B,10%,22%,$272 M,$107 M
31,#30,New Orleans Pelicans,$1.6 B,5%,14%,$268 M,$94 M

In [120]:
forbes_df

forbes_df['Revenue (Millions)'] = forbes_df['Revenue (Millions)'].str.replace('$', '').str.replace(' M', '')

/var/folders/01/488vmylj11j7q_qxhys3p25h0000gn/T/ipykernel_59427/3769206478.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  forbes_df['Revenue (Millions)'] = forbes_df['Revenue (Millions)'].str.replace('$', '').str.replace(' M', '')

In [122]:
forbes_df

forbes_df['Revenue (Millions)'] = forbes_df['Revenue (Millions)'].str.replace('$', '').str.replace(' M', '')

forbes_df['Operating Income (Millions)'] = forbes_df['Operating Income (Millions)'].str.replace('$', '').str.replace(' M', '')


df.head(200)

/var/folders/01/488vmylj11j7q_qxhys3p25h0000gn/T/ipykernel_59427/934138209.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  forbes_df['Revenue (Millions)'] = forbes_df['Revenue (Millions)'].str.replace('$', '').str.replace(' M', '')
/var/folders/01/488vmylj11j7q_qxhys3p25h0000gn/T/ipykernel_59427/934138209.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  forbes_df['Operating Income (Millions)'] = forbes_df['Operating Income (Millions)'].str.replace('$', '').str.replace(' M', '')

,Value Ranking,Team,Current Value (Billions),1-Yr Value Change,Debt/Value,Revenue (Millions),Operating Income (Millions)
0,#1,Golden State Warriors,7,25%,16%,765,206
1,#2,New York Knicks,6.1,5%,4%,452,155
2,#3,Los Angeles Lakers,5.9,7%,1%,465,115
3,#4,Chicago Bulls,4.1,12%,4%,352,135
4,#5,Boston Celtics,4,13%,5%,361,137
5,#6,Los Angeles Clippers,3.9,18%,2%,362,12
6,#7,Brooklyn Nets,3.5,9%,8%,405,-34
7,#8,Dallas Mavericks,3.3,22%,3%,364,143
8,#9,Houston Rockets,3.2,16%,6%,350,113
9,#10,Philadelphia 76ers,3.15,29%,4%,345,87
11,#11,Toronto Raptors,3.1,25%,6%,299,86
12,#12,Miami Heat,3,30%,14%,326,83
13,#13,Phoenix Suns,2.7,50%,9%,302,87
14,#14,Washington Wizards,2.5,30%,7%,291,90
15,#15,Milwaukee Bucks,2.3,21%,14%,352,51
16,#16,Portland Trail Blazers,2.1,2%,9%,291,81
17,#17,Cleveland Cavaliers,2.05,24%,11%,325,74
18,#18,Sacramento Kings,2.03,1%,28%,279,29
19,#19,Utah Jazz,2.025,16%,15%,308,58
20,#20,San Antonio Spurs,2,1%,9%,306,99
22,#21,Atlanta Hawks,1.975,18%,13%,282,84
23,#22,Denver Nuggets,1.93,12%,15%,273,67
24,#23,Detroit Pistons,1.9,20%,11%,278,92
25,#24,Oklahoma City Thunder,1.875,15%,10%,274,129
26,#25,Orlando Magic,1.85,13%,11%,272,98
27,#26,Indiana Pacers,1.8,8%,14%,264,65
28,#27,Charlotte Hornets,1.7,8%,12%,269,94
29,#28,Minnesota Timberwolves,1.67,8%,14%,271,87
30,#29,Memphis Grizzlies,1.65,10%,22%,272,107
31,#30,New Orleans Pelicans,1.6,5%,14%,268,94

In [126]:
forbes_df

forbes_df['1-Yr Value Change'] = forbes_df['1-Yr Value Change'].str.replace('%', '')
forbes_df['Debt/Value'] = forbes_df['Debt/Value'].str.replace('%', '')
forbes_df['Value Ranking'] = forbes_df['Value Ranking'].str.replace('#', '')



df.head(200)

,Value Ranking,Team,Current Value (Billions),1-Yr Value Change,Debt/Value,Revenue (Millions),Operating Income (Millions)
0,1,Golden State Warriors,7,25,16,765,206
1,2,New York Knicks,6.1,5,4,452,155
2,3,Los Angeles Lakers,5.9,7,1,465,115
3,4,Chicago Bulls,4.1,12,4,352,135
4,5,Boston Celtics,4,13,5,361,137
5,6,Los Angeles Clippers,3.9,18,2,362,12
6,7,Brooklyn Nets,3.5,9,8,405,-34
7,8,Dallas Mavericks,3.3,22,3,364,143
8,9,Houston Rockets,3.2,16,6,350,113
9,10,Philadelphia 76ers,3.15,29,4,345,87
11,11,Toronto Raptors,3.1,25,6,299,86
12,12,Miami Heat,3,30,14,326,83
13,13,Phoenix Suns,2.7,50,9,302,87
14,14,Washington Wizards,2.5,30,7,291,90
15,15,Milwaukee Bucks,2.3,21,14,352,51
16,16,Portland Trail Blazers,2.1,2,9,291,81
17,17,Cleveland Cavaliers,2.05,24,11,325,74
18,18,Sacramento Kings,2.03,1,28,279,29
19,19,Utah Jazz,2.025,16,15,308,58
20,20,San Antonio Spurs,2,1,9,306,99
22,21,Atlanta Hawks,1.975,18,13,282,84
23,22,Denver Nuggets,1.93,12,15,273,67
24,23,Detroit Pistons,1.9,20,11,278,92
25,24,Oklahoma City Thunder,1.875,15,10,274,129
26,25,Orlando Magic,1.85,13,11,272,98
27,26,Indiana Pacers,1.8,8,14,264,65
28,27,Charlotte Hornets,1.7,8,12,269,94
29,28,Minnesota Timberwolves,1.67,8,14,271,87
30,29,Memphis Grizzlies,1.65,10,22,272,107
31,30,New Orleans Pelicans,1.6,5,14,268,94

In [127]:
# Save the DataFrame to a CSV file. 

forbes_df.to_csv("ForbesBusinessRankings.csv", index=False, encoding="ISO-8859-1")